[submodule "Downloads/AWS_DevOps/_GitHub/Downloads/AWS_DevOps/_GitHub/AWS-KinesisVideoStream"]
	path = Downloads/AWS_DevOps/_GitHub/Downloads/AWS_DevOps/_GitHub/AWS-KinesisVideoStream
	url = https://github.com/starhyuks/AWS-KinesisVideoStream.git
